<div class="container">

<h2><%= @user.name %>さんのマイページ</h2>
<%= @user.follow_count %>
<%= link_to "フォロー", {controller: :users,action: :follow_list,user_id: @user.id}, method: :get %>

<%= @user.followers_count %>
<%= link_to "フォロワー", {controller: :users,action: :follower_list,user_id: @user.id}, method: :get %>


<% if current_user.id != @user.id %>
  <%= render 'follow_form' %>
<% end %>
<p><%= link_to "ユーザ一覧へ", users_path %></p>
<p><%= link_to("タイムライン", "/users/timeline/#{current_user.id}") %></p>
<p><%= link_to("自分の投稿", "/user/posts/#{current_user.id}") %></p>
<p><%= link_to("いいねした投稿", "/likes/show/#{current_user.id}") %></p>

</div>
