<header>
  <div class="header-logo">
   <a href="/">ココイケ</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">ココイケとは</a>
    </li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>おいしかった飲食店をシェアしよう</h2>
    <p>説明とか、ログインへのリンクとか？</p>
    <% if user_signed_in? %> <!-- ログインの確認-->
  <!-- ログインしていた時の処理 -->
  <h2> 現在 <%= current_user.name %> さんがログインしています </h2>
  <h4> メールアドレス： <%= current_user.email %> </h4>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> <!-- ログアウト -->
  <% else %>
  <!-- ログインしていなかった時の処理 -->
  <h2> 現在ログインしていません </h2>
  <%= link_to "ログイン", new_user_session_path, class: 'post' %> <!-- ログイン画面に移行する -->
  <%= link_to "新規登録", new_user_registration_path, class: 'post' %> <!-- 新規登録画面に移行する -->
  <% end %>
  </div>
</div>
